<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="./picture/chat.png">
    <meta property="og:title" content="Chat Cotoky">
    <meta property="article:author" content="https://www.facebook.com/minhthong.lu.58" />
    <meta property="og:description" content="Webchat template Responsive make by Lmint - Coders.Tokyo">
    <meta property="og:image" content="https://lmint3010.github.io/coderstokyochat/picture/Desktop.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Laila" rel="stylesheet">
    <link rel="stylesheet" href="css/room-chat.css">
    <link rel="stylesheet" href="css/popup.css">
    <title>Chat Cotoky</title>
</head>

<body onload="loadGroup()">
    <div class="container">

        <div class="users">
            <h1>Chat Real Time</h1>
            <ul class="list-user">
            </ul>
        </div>

        <div class="top-content">
            <button class="top-dropdown"><i class="fas fa-caret-down"></i></button>
            <p></p>
            <div class="tools">
                <i class="fas fa-user-friends friends"></i>
                <i class="fas fa-phone"></i>
                <i class="fas fa-video"></i>
                <i class="fas fa-info-circle"></i>
            </div>
        </div>

        <div class="middle-content">

        </div>

        <div class="bottom-content">
            <textarea autofocus placeholder="Write here..." spellcheck="false" id="message-to-send"
                onkeypress="return runScript(event)"></textarea>
            <button class="msg_send_btn">Send</button>
        </div>
        <div class="modal">
            <ul>
            </ul>
        </div>
        <div class="error">
            <p>This private group is exist</p>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
    <script src="js/helper.js"></script>
    <script src="js/group.js"></script>
    <script src="js/message.js"></script>
    <script src="js/user.js"></script>
</body>

</html>