<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/signup.css">
    <title>Chat Cotoky</title>
</head>

<body>
    <div class="user">
        <header class="user__header">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3219/logo.svg" alt="" />
            <h1 class="user__title">Chat Cotoky</h1>
        </header>

        <form class="form" action="/signup" method="POST">
            <div class="form__group">
                <input type="text" placeholder="First name" class="form__input" name="first"/>
            </div>
            
            <div class="form__group">
                <input type="text" placeholder="Last name" class="form__input" name="last"/>
            </div>

            <div class="form__group">
                <input type="email" placeholder="Email" class="form__input" name="email"/>
            </div>

            <div class="form__group">
                <input type="password" placeholder="Password" class="form__input" name="password"/>
            </div>

            <button class="btn" type="submit">Register</button>
        </form>
    </div>

</body>

</html>